@main("About Us"){
    <div class="div1" align="center" style="background-color:lightblue">
        <h2>About Us</h2>
        <p>Learn more about the team behind Kinoplex</p>
    </div>
    <div align="center">
        <a href="https://twitter.com/KinoplexC">
            <img src="@routes.Assets.versioned("images/icons/circle-twitter.png")" width="100" height="100" >
        </a>
        <a href="#">
            <img src="@routes.Assets.versioned("images/icons/email-icon.png")" width="95" height="95" >
        </a>
    </div>
    <div class="person" align="center" style="margin-top:50px;">

        <h2 >Meet The Team</h2>
        <div style="text-align:center;background-color: white">
            <p>Gavin(Team Leader)       <img height="100" width="100" src = "@routes.Assets.versioned("images/person-image.png")" ></p>
        </div>
        <div style="text-align:center;background-color: white">
            <p><img height="100" width="100" src = "@routes.Assets.versioned("images/person-image.png")" >      Juamal</p>
        </div>
        <div style="text-align:center;background-color: white">
            <p>Nathan      <img height="100" width="100" src = "@routes.Assets.versioned("images/person-image.png")" ></p>
        </div>
        <div style="text-align:center;background-color: white">
            <p><img height="100" width="100" src = "@routes.Assets.versioned("images/person-image.png")" >      Kobby</p>
        </div>
        <div style="text-align:center;background-color: white">
            <p>Jack        <img height="100" width="100" src = "@routes.Assets.versioned("images/person-image.png")" ></p>
        </div>
        <div style="text-align:center;background-color: white">
            <p><img height="100" width="100" src = "@routes.Assets.versioned("images/person-image.png")" >      Daniel</p>
        </div>
    </div>


}