@(form: Form[Bookings])(implicit messages: MessagesProvider)

@main("Ticket Bookings") {

    <div>
    @helper.form(routes.TicketBookingController.submit()) {
        @helper.inputText(form("title"), '_label -> "Movie Title", '_showConstraints -> false)
        @helper.inputText(form("dateTime"), '_label -> "Showing Date/Time", '_showConstraints -> false)
        @helper.inputText(form("name"), '_label ->"Booker Name", '_showConstraints -> false)
        @helper.inputText(form("concession"), '_label -> "Concession Tickets", '_showConstraints -> false)
        @helper.inputText(form("adult"), '_label -> "Adult Tickets", '_showConstraints -> false)
        @helper.inputText(form("child"), '_label -> "Child Tickets", '_showConstraints -> false)
        <button type="submit" >Confirm Booking</button>
    }
    </div>
}

