@(ratings: List[Rating])

@main("Film Classifications") {
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <div class="jumbotron">
                    <h3>Film Classifications</h3>
                    <p>Current film classifications from the BBFC</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="jumbotron">
            @for(rating <- ratings) {
                <div class="row">
                    <div class="col-sm-1 col-lg-1 pl-2 pt-3">
                        <img src="@rating.iconLocation" class="img-fluid" alt="@rating.title">
                    </div>
                    <div class="col-sm-11 col-lg-11">
                        <h5>@rating.title</h5>
                        <p>@rating.description</p>
                    </div>
                </div>
            }
            <div class="row pt-2">
                <div class="col-sm-1 col-lg-1"></div>
                <div class="col-sm-4 col-lg-4">
                    See the <a href="https://bbfc.co.uk/about-classification">
                    BBFC website</a> for more details.</div>
            </div>
        </div>
    </div>
}