
@main("Film Classifications") {
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <div class="jumbotron">
                    <h3>Film Classifications</h3>
                    <p>Current film classifications from the BBFC</p>
                </div>
            </div>
        </div>
    </div>
    <div class="well well-lg">
        <div class="row">
            <div class="col-sm-4 col-lg-4" style="padding-left: 2%">
                <img src="@routes.Assets.versioned("images/classifications/u.png")" class="img-thumbnail" alt="parental guidance">
            </div>
            <div class="col-sm-11">
                <h4>Universal</h4>
            </div>
            <div class="row">
                <div class="col-sm-11 col-lg-11" style="padding-left: 2%">
               <p>A U film should be suitable for audiences aged four years and over, although it
                    is impossible to predict what might upset any particular child.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-1" style="padding-left: 2%">
                <img src="@routes.Assets.versioned("images/classifications/pg.png")" class="img-thumbnail" alt="parental guidance">
            </div>
            <div class="col-sm-11 col-lg-11">
                <p>Parental Guidance</p>
                <p>General viewing, but some scenes may be unsuitable for young children. A PG film
                    should not unsettle a child aged around eight or older. Unaccompanied children
                    of any age may watch, but parents are advised to consider whether the content
                    may upset younger, or more sensitive, children.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-1" style="padding-left: 2%">
                <img src="@routes.Assets.versioned("images/classifications/12a.png")" class="img-thumbnail" alt="12a">
            </div>
            <div class="col-sm-11 col-lg-11">
                <p>12a</p>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-lg-1" style="padding-left: 2%">
                <img src="@routes.Assets.versioned("images/classifications/12.png")" class="img-thumbnail" alt="12">
            </div>
            <div class="col-sm-11">
                <p>12</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="padding-left: 2%">
                <img src="@routes.Assets.versioned("images/classifications/15.png")" class="img-thumbnail" alt="15">
            </div>
            <div class="col-sm-11">
                <p>15</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="padding-left: 2%">
                <img src="@routes.Assets.versioned("images/classifications/18.png")" class="img-thumbnail" alt="18">
            </div>
            <div class="col-sm-11">
                <p>18</p>
            </div>
        </div>
    </div>
}