@main("Contact us") {

    <div class="container">
        <div class="h-100 w-70 row align-items-center">
            <div class="col-lg-3 col-sm-0"></div>
            <div class="col-lg-6 col-sm-12 pt-5">
                <div class="card pt-3 pb-3 pr-3 pl-3 bg-light">
                    <h4>Contact us</h4>
                    <p>The best way to contact us is via our email form <a href="@routes.EmailController.email">
                        here.</a></p>
                    <p>Alternatively, call us on 01613932270. Our office hours are 9am-5pm Mon-Fri.</p>
                </div>
            </div>
        </div>
    </div>
}