@import views.html.helper.FieldConstructor
@(form: Form[EMail])(implicit messages: MessagesProvider)
@implicitField = @{
    FieldConstructor(email_input.f)
}

@main("Contact Us, Send Mail") {

    <div class="container">
        <div class="form-group pt-3">
        @helper.form(routes.EmailController.submit()) {
            @helper.inputText(form("email"), 'class -> "form-control", '_label_class -> "form-control", '_label -> "Your Email Address", '_showConstraints -> false)
            @helper.inputText(form("subject"), '_label -> "Subject", '_label_class -> "form-control", 'class -> "form-control", '_showConstraints -> false)
            @helper.textarea(form("body"), '_hidden -> true, 'class -> "form-control", '_showConstraints -> false)
            <p align="right" class="pt-3">
                <button type="submit" class="btn btn-primary mb-2" >Submit</button>
            </p>
        }
        </div>
    </div>
}


