    <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
                <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                <h5 class="text-uppercase">Useful Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href=@routes.HomeController.index()>Homepage</a>
                    </li>
                    <li>
                        <a href="#!">About Us</a>
                    </li>
                    <li>
                        <a href="@routes.ContactController.contact()">Contact Page</a>
                    </li>
                </ul>

            </div>
            <!-- Grid row -->
    </div>

        <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href=@routes.HomeController.index()> Kinoplex.com</a>
    </div>
        <!-- Copyright -->

</footer>
    <!-- Footer -->
