<footer class="page-footer font-small blue text-center pt-4">
    <div class="container-fluid text-center">
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Useful Links</h5>
            <ul class="list-unstyled">
                <li>
                    <a href=@routes.HomeController.index()>Homepage</a>
                </li>
                <li>
                    <a href="#!">About Us</a>
                </li>
                <li>
                    <a href="@routes.ContactController.contact()">Contact Page</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href=@routes.HomeController.index()> Kinoplex.com</a>
    </div>
</footer>
