@(films: List[Movies], message: String)

@main("Welcome to Kinoplex") {


    <div class="container">


        <div class="row align-items-center my-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://i.kym-cdn.com/photos/images/newsfeed/001/567/849/545.png" alt="">
            </div>

            <div class="col-lg-5">
                <h1 class="font-weight-light">Welcome to the Kinoplex</h1>
                <p>We here at Kinoplex are determined to bring the best blockbusters straight to your neighborhood! With our wide selection of new releases there's no reason for you to come on down and enjoy the pinnacle cinema experience with us at Kinoplex!</p>
                <a class="btn btn-primary" href="#">Find Cinema</a>
            </div>

        </div>

        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">This to showcase some important information like corona stuff</p>
            </div>
        </div>

        <div class="row">
            @for(film <- films) {
                <div class="col-md-4 mb-5 text-center" >
                    <a href="@routes.ListingController.listingIndex(film.movieTitle)" class="btn btn-primary btn-lg " style="align-content: center">@film.movieTitle</a>
                    <div class="card h-100" style =" border:2px solid black;margin-bottom: 15px ;background-image: url('@routes.Assets.versioned(film.images.head)');  background-size: cover; ">
                        <div class="card-body" style="height: 100px">
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            }

        </div>


    </div>

}
