<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" href="@routes.HomeController.index()"> <img class="navbar-brand" src="@routes.Assets.versioned("images/logo/qa-cinema-logo-removebg-preview-removebg-preview.png")" ; style="height: 80px;"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@routes.HomeController.index()">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.ListingController.newListingGalleryIndex">New Releases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.ListingController.listingGalleryIndex">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.ScreensController.screenType()">Screenings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.HomeController.openings">Opening Times</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.ClassificationsController.classificationIndex">Film Classes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.PlacesToGoController.placesToGoIndex()">Places To Go</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.GettingThereController.gettingThere">Getting There</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@routes.DiscussionBoardController.discussionIndex">Chat Board</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href=@routes.TicketBookingController.index()>Bookings Action</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href=@routes.EmailController.email()>EmailUs</a>
                    <a class="dropdown-item" href=@routes.HomeController.scrum()>Scrum Description</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href=@routes.AboutUsController.about()>About Us</a>
                    <a class="dropdown-item" href="@routes.ContactController.contact()">Contact Us</a>
                </div>
           </ul>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </div>
</nav>
