

@main("Opening Times") {

    <div class="bg-primary text-white">
        <div class="container text-center">
            <h1 class="display-3"> Opening Times</h1>
            <p class="lead">Here are the opening times for your local Kinoplex.
                (Times may be subject to change due to unfortunate event such as worldwide pandemic)</p>
        </div>
    </div>


    <div class="container demo-bg">
        <div class="row">
            <div class="col-sm-4">
                <div class="card h-500">
                    <h2 class="card-title">Please come by at these times:</h2>
                    <ul class="card-body">
                        <li>Sunday <span class="pull-left">Closed</span></li>
                        <li>Monday <span class="pull-right">9:00-22:00</span></li>
                        <li>Tuesday <span class="pull-right">9:00-22:00</span></li>
                        <li>Wednesday <span class="pull-right">9:00-22:00</span></li>
                        <li>Thursday <span class="pull-right">9:00-22:00</span></li>
                        <li>Friday <span class="pull-right">9:00-23:30</span></li>
                        <li>Saturday <span class="pull-right">14:00-23:30</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}