@(places: List[Place])

@main("Places to Go") {
    <div class="container">
        <div class="container">
            <h1 class="display-3">Places to Go!</h1>
            <p class="lead">this page is about the places you can visit</p>

        </div>

        <div class="control-box">

        @for(place <- places) {
            <div class="row text-center">

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">@place.placeName</h4>
                            <p class="card-text"> @place.placeType <br>
                                @place.address <br> @place.contact </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Description</h4>
                            <p class="card-text">@place.description</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Cinema Offers</h4>
                            <p class="card-text">@place.discount</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="center" src="@place.picture" alt="Place Pic" style="width: 100%;">
                    </div>
                </div>

            </div>
        }
        </div>
    </div>
}