@main("Places to Go"){
    <div class="container">


        <header class="headder">
            <h1 class="display-3">A Warm Welcome!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
        </header>


        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="">
                    <div class="card-body">
                        <h4 class="card-title">Places To Go!</h4>
                        <p class="card-text">this page is about the places you can visit</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">locate cinema</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">info </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">info</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">info</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
}