@main("Scrum Description") {
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <div class="jumbotron">
                    <h3>Scrum Description</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-11 col-lg-11">
                      <h5>What is Scrum</h5>
                    <p>
                        Scrum is a framework within which people can address complex adaptive problems, while
                        productively and creatively delivering products of the highest possible value.

                        Scrum itself is a simple framework for effective team collaboration on complex products.
                        Scrum co-creators Ken Schwaber and Jeff Sutherland have written The Scrum Guide to explain
                        Scrum clearly and succinctly.  This Guide contains the definition of Scrum.
                        This definition consists of Scrum’s roles, events, artifacts, and the rules
                        that bind them together. </p>
                </div>
            </div>
            <div class="row" style="padding-top: 2%">
                <div class="col-sm-1 col-lg-1"></div>
                <div class="col-sm-4 col-lg-4">See the <a href="https://scrum.org">
                    Scrum website</a> for more details.</div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="jumbotron">
            <h4>How we used Scrum</h4>
            <p>With our project we incorporated Scrum into our daily lives</p>
            <h5>    Sprint Planning</h5>
            <p>   this is where we would point tickets that where to be completed within a sprint</p>

            <h5>  Stand Up </h5>
            <p>    During the sprint we would have a Daily Scrum where we would discuss; <br>
                What we did the previous day? <br>
                What we would be planning to do today? <br>
                Any blockers?
            </p>
            <h5>  Sprint Review </h5>
            <p>   This is where we would review the work completed within the sprint and create any
                new tickets/ move tickets to the next sprint that were not completed.
            </p>

            <h5>Sprint Retrospective</h5>
            <p>For this part we discussed as a team;<br>
                What went well?<br>
                What didn't go so well?<br>
                What could we do better?<br>
                With the suggested improvements we would make actions that should be completed and reviewed
                in the following sprint retrospective.
            </p>

            <h5>Our Results</h5>
            <p>With use of scrum in this way we where able to have good communication, and it was easier to find when
                people had issues, therefor making it easier to solve those issues.<br>
                With the extra planning, this opened the opportunity for more developers to have influence on the ticket,
                which in turn helps to clarify what needs done on a ticket. <br>
                With using sprints, this has helped our time management as being able to point tickets,
                to show if we would expect it to be done in a sprint.
            </p>
        </div>
    </div>
}