@import views.html.helper.FieldConstructor
@(form: Form[Search])(implicit messages: MessagesProvider)
@implicitField = @{
    FieldConstructor(search_input.f)
}
@main("Search") {
    <div class="form-inline my-2 my-lg-0">
    @helper.form(routes.SearchController.submit()) {
        @helper.inputText(form("searchTerm"), '_hidden -> true, 'class -> "form-control mr-sm-2", 'placeholder -> "Search Term", '_showConstraints -> true)
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0" >Search</button>
    }
    </div>
}



